<li> <div>
    <p><%=comment.content %>  <% if((locals.user) && (locals.user.id == comment.user.id) ) {%>
        <a href="/comments/destroy/<%= comment._id %>" class="delete-comment-button"><i  class="fa-solid fa-trash" ></i></a> 
<%}%></p>

</div>
<span>By</span>
    
<small style="color: blue;">
    <%=comment.user.name %>
</small>
</li>
<script src="/js/home_comments.js"></script>