<!-- <footer id="footer">
    <p>&copy; 2023 SOCIAL MEDIA Website. All rights reserved &nbsp | &nbsp
        </span>
        <span id="Email">
            SOCIALSUPPORT@gmail.com
        </span>
    </p>
</footer> -->