<script src="https://kit.fontawesome.com/c348d4c177.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <div class="home-main">
        <div id="feed">
            <div>
        <h1>SOCIAL</h1>
    <section id ="feed-posts">
    <h3> Posts</h3>
    <!-- to check if the local user is there -->
    <%if(locals.user){%>
        <h4>What's on your mind</h4>
    <form action="/posts/create" id="new-post-form" method="post" >
    <textarea name="content" id="" cols="30" rows="3" required></textarea>
    <input type="submit" value="Post" id="button">
    </form>
    <%}%>
    </section>
    <div id="post-lists-container">
    <ul>
        <%for(post of posts){%>
            <%- include('_posts') -%>
        <%}%>
    </ul>
    </div>
    </div>
    <section id="user-friends">
        <h4>Friends</h4>
        
        <%for(u of all_users){%>
            <div>
            <img id ="user-img" src="<%=u.avatar%>" alt="">
        <a href="users/profile/<%=u.id%>"><%=u.name%></a>
    </div>    
        <%}%>
        
    </section>
</div>

</div>

