.profile-main{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 100vh;
    
}
#user-img{
    display: none;
}
#profile-img{
    width: 140px;
    margin: 10px;
}
#profile-feed{
    display: flex;
    flex-direction: column; 
    margin: 10px auto;
    height: auto;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    padding: 10vw;
    background-color: white;
}